<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="swtxml"
            id="swtxml"
            name="SWT/XML Markup File"
            priority="high">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="swtxml">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.wst.sse.core.modelHandler">
      <modelHandler
            associatedContentTypeId="com.swtxml.ide.swtxml"
            class="com.swtxml.ide.SwtXmlModelHandler"
            default="false"
            id="com.swtxml.ide.SwtXmlModelHandler">
      </modelHandler>
   </extension>
	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
		<sourceViewerConfiguration
			class="com.swtxml.ide.SwtXmlStructuredTextViewerConfiguration"
			target="com.swtxml.ide.swtxml" />
	</extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          category="com.swtxml.viewcategory"
          class="com.swtxml.ide.PreviewViewPart"
          icon="icons/preview.png"
          id="com.swtxml.ide.PreviewViewPart"
          name="SWT/XML Preview"
          restorable="true">
    </view>
    <category
          id="com.swtxml.viewcategory"
          name="SWT/XML">
    </category>
 </extension>
 <extension
       point="org.eclipse.ui.newWizards">
    <wizard
          category="com.swtxml.newcategory"
          class="com.swtxml.ide.newwizard.SwtXmlNewWizard"
          icon="icons/new.png"
          id="com.swtxml.ide.SwtXmlNewWizard"
          name="SWT/XML Class">
    </wizard>
    <category
          id="com.swtxml.newcategory"
          name="SWT/XML">
    </category>
 </extension>
</plugin>
